@font-face {
    font-family: "Saiyan-sans";
    src: url("Assets/font/Saiyan-Sans.ttf")
}

@font-face {
    font-family: "Dragonball";
    src: url("Assets/font/Dragon_Ball.otf");
}

html {
    min-height: 100vh;
    cursor: url("Assets/Cursors/cursor.cur"), auto;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("https://i.redd.it/n4a5lspwp6d21.jpg");
    background-size: cover;
    background-position: bottom;
    margin: 0;
}

.page-title {
    font-family: Saiyan-sans, serif;
    color: yellow;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;    
    font-size: 6em;
    font-weight: normal;
    text-align: center;
}
.page-title span {
    color: red;
}
.page-title .orange {
    color:orange;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-size: 3em;
    font-family: Dragonball, Saiyan-sans, serif;
    color: rgb(175, 16, 16);

}

.game-container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    margin: 50px;
    grid-gap:5px;
    perspective: 500px;
}

.card {
    position: relative;
    height: 160px;
    width: 150px; 
}

.card:hover {
    cursor: url("Assets/Cursors/cursor.cur"),auto;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
    border: solid 2.5px;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {

    transform: rotateY(0)
}

.card.matched .card-value {
    animation: dance 2s linear infinite 300 ms;
}

.overlay-text {
    display:none;
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    font-family: "Saiyan-sans";
    z-index: 100;
    color: rgb(255, 238, 0);
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;    

}

.overlay-text span {
    color: red;
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display:flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(O,0,0,0);
        font-size: 0;
    }
    to {
        background-color: rgba(0,0,0,.8);
        font-size: 6em;
    }
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg)
    }
}
.card-back {
    background-color: rgb(135, 1, 224);
    border: 3px solid #e94e1b;
    transform: rotateY(0);
}

.card-front {
    border: 3px solid rgb(221, 99, 0);
    background-color: rgb(201, 150, 248);
    transform: rotateY(180deg);
}

.card-front:hover .card-value {
    transform: scale(1.1);
}

.card-value {
    transform: scale(.9);
    transition: transform 100ms ease-in-out;
}

.card-face:hover .dragon-ball {
    width: 70px;
    height: 70px;
}
.dragon-ball {
    position: absolute;
    width: 60px;
    height: 60px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
}



.dragon-ball-top-left {
    top:-28px;
    left:-28px;
}

.dragon-ball-bottom-left {
    bottom:-28px;
    left:-28px;
}

.dragon-ball-top-right {
    top: -28px;
    right: -28px;
}

.dragon-ball-bottom-right {
    bottom: -28px;
    right: -28px;
}

.nuage {
    transition: transform 100ms ease-in-out;
    height: 80px;
    width: 80px;
}

.card-back:hover .nuage {
    transform: rotate(15deg);
    transform:rotateY(0);
}


.card-face:hover .genkidama {
    width: 70px;
    height: 70px;
}
.genkidama {
    position: absolute;
    width: 60px;
    height: 60px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out, transform 150ms ease-in-out;
}

.cochon {
    height: 130px;
    width: 90px;
}

.trunks {
    height: 220px;
    width: 225px;
    position: relative;
    bottom: 10px;
}

.gohan {
    height: 150px;
    width: 100px;
    position: relative;
    bottom: 10px;
}

.vegeta {
    position: relative;
    bottom: 10px;
    height: 145px;
}

.goku {
    position: relative;
    right: 7px;
}

@media(max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }
    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}